@media only screen and (max-width: 600px) {
    .title {
        padding-left:10px;
        padding-right:10px;
    }

    .title h1 {
        font-size:18px;
        margin-bottom:5px;
    }

    .title h3 {
        font-size:14px;
    }

    .search h3 {
        font-size:14px;
    }

    .search {
        margin-left:5px;
        margin-right: 5px;
    }

    .county-results p, .county-title p {
        font-size:12px;
    }

    .title h2 {
        font-size:16px;
        margin-top:0px;
    }

    #table-results_length {
        display:none;
    }

    h4 {
        font-size: 14px;
    }

    .circle {
        width:100px;
    }

    #inputCounty {
        margin-bottom:10px;

    }
    .form-inline .form-control {
        width:100%;
    }
    .table-responsive {
        border:none;
        width:100%;
    }

    .pagination>li>a, .pagination>li>span {
        padding: 3px 6px;
        font-size: 10px;
    }

    .btn {
        width:80px;
    }

    .title p {
        font-size:10px;
    }
    .title h5 {
        font-size:12px;
    }

    .navbar-brand img {
        padding-left:10px;
    }

    .county-title h1 {
        font-size:18px;
    }

    #table-results_filter {
        float:left;
    }

    .main {
        margin-top:20%;
        margin-left:10px;
        margin-right:10px;
    }
}